{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }],
      "react"
    ],
    "env": {
      "production": {
        "plugins": [
          ["transform-react-remove-prop-types", {
            "mode": "wrap",
            "ignoreFilenames": ["node_modules"]
          }]
        ]
      }
    }
  }