{
    "presets": ["env","react"],
    "env": {
      "production": {
        "plugins": [
          ["transform-react-remove-prop-types", {
            "mode": "unsafe-wrap",
            "removeImport": true,
            "ignoreFilenames": ["node_modules"]
          }]
        ]
      }
    }
  }